@model List<Domain.Products.ProductDto>
@{
    ViewData["Title"] = "محصولات";
}

<partial name="_PageNavbar" />

<div class="shop_area shop_fullwidth mt-60 mb-60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="shop_toolbar_wrapper">
					<div class="shop_toolbar_btn">

						<button data-role="grid_3" type="button" class=" btn-grid-3" data-toggle="tooltip" title="3"></button>

						<button data-role="grid_4" type="button" class="active btn-grid-4" data-toggle="tooltip" title="4"></button>

						<button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="لیست"></button>
					</div>
					<div class="niceselect_container">
						<form action="#">
							<label>ترتیب:</label>
							<select class="select_option" name="orderby" id="short">
								<option selected value="1">امتیاز متوسط</option>
								<option value="2">محبوبیت</option>
								<option value="3">تعداد فروش</option>
								<option value="4">قیمت صعودی</option>
								<option value="5">قیمت نزولی</option>
								<option value="6">نام محصول</option>
							</select>
						</form>
					</div>
					<div class="page_amount">
						<p>نمایش 1-12 از 24 محصول</p>
					</div>
				</div>
				<!--shop toolbar end-->

                <div class="row shop_wrapper">
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.Id">
                                                <img src="/images/@item.ImageName" alt="">
                                            </a>
                                            <a class="secondary_img" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.Id">
                                                <img src="/site/img/product/product2.jpg" alt="">
                                            </a>
                                            <div class="label_product">
                                                <span class="label_sale">فروش</span>
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="wishlist">
                                                        <a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها">
                                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="compare">
                                                        <a href="#" title="مقایسه"><span class="ion-levels"></span></a>
                                                    </li>
                                                    <li class="quick_button">
                                                        <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع">
                                                             <span class="ion-ios-search-strong"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="add_to_cart">
                                                <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                                            </div>
                                        </div>
                                        <div class="product_content grid_content">
                                            <div class="price_box">
                                                @* <span class="old_price">86,000 تومان</span> *@
                                                <span class="current_price">@item.Price.ToString("#,0") تومان</span>
                                            </div>
                                            <div class="product_ratings">
                                                <ul>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                </ul>
                                            </div>
                                            <h3 class="product_name grid_name">
                                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.Id">@item.Title</a>
                                            </h3>
                                        </div>
                                        <div class="product_content list_content">
                                            <div class="left_caption">
                                                <div class="price_box">
                                                    @* <span class="old_price">86,000 تومان</span> *@
                                                    <span class="current_price">@item.Price تومان</span>
                                                </div>
                                                <h3 class="product_name">
                                                    <a href="product-details.html">@item.Title</a>
                                                </h3>
                                                <div class="product_ratings">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product_desc">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                                </div>
                                            </div>
                                            <div class="right_caption">
                                                <div class="add_to_cart">
                                                    <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="wishlist">
                                                            <a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i> افزودن به علاقه‌مندی‌ها</a>
                                                        </li>
                                                        <li class="compare">
                                                            <a href="#" title="مقایسه"><span class="ion-levels"></span> مقایسه</a>
                                                        </li>
                                                        <li class="quick_button">
                                                            <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span> نمایش سریع</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </article>
                            </div>
                        }
                    }
                    
                </div>

				<div class="shop_toolbar t_bottom">
					<div class="pagination">
						<ul>
							<li class="current"><span>1</span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li class="next"><a href="#">بعدی</a></li>
							<li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
						</ul>
					</div>
				</div>
				<!--shop toolbar end-->
				<!--shop wrapper end-->
			</div>
		</div>
	</div>
</div>
